{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1 style="text-align: center;">Error 404 - Not found</h1>
  <div style="text-align: center;">
    <img src="./404.png" alt="Confused Juvenile Seagull" style="max-width: 100%; height: auto;">
  </div>
  <p>The page you're looking for might have been moved or deleted.</p>
  <p>You can return to our home page for an overview of the content, or you can use the search bar above to find the information you need.</p>
  <p>If you came to this page from a link, please let us know so that we can fix it for the future. Send us a <a href="https://www.reddit.com/message/compose?to=%2Fr%2FUBC">modmail on Reddit</a> or message the user <a href="https://lemmy.ca/u/Otter">u/Otter on Lemmy</a>.</p>
{% endblock %}