{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <div style="text-align: center;">
    <img src="https://raw.githubusercontent.com/CommunityUBC/ubcwiki/d4993f2b5a9ec5acf1bd20597db8cf9f17a56979/overrides/404.png" alt="Confused Juvenile Seagull" style="max-width: 40%; height: auto;">
  </div>
  <h1 style="text-align: center;">Page not found</h1>
  <p>The page you're looking for might have been moved or deleted.</p>
  <p>You can return to the UBC Wiki home page for a content overview, or you can use the search bar above.</p>
  <p>If you came to this page from a link, please let us know so that we can fix it for the future! Send us a <a href="https://www.reddit.com/message/compose?to=%2Fr%2FUBC">modmail on Reddit</a> or message the user <a href="https://lemmy.ca/u/Otter">u/Otter on Lemmy</a>.</p>
  <br>
  
{% endblock %}