<!-- Footer -->
<footer class="md-footer">

    <!-- Link to previous and/or next page -->
    {% if "navigation.footer" in features %}
      {% if page.previous_page or page.next_page %}
        {% if page.meta and page.meta.hide %}
          {% set hidden = "hidden" if "footer" in page.meta.hide %}
        {% endif %}
        <nav
          class="md-footer__inner md-grid"
          aria-label="{{ lang.t('footer') }}"
          {{ hidden }}
        >
  
          <!-- Link to previous page -->
          {% if page.previous_page %}
            {% set direction = lang.t("footer.previous") %}
            <a
              href="{{ page.previous_page.url | url }}"
              class="md-footer__link md-footer__link--prev"
              aria-label="{{ direction }}: {{ page.previous_page.title | e }}"
            >
              <div class="md-footer__button md-icon">
                {% set icon = config.theme.icon.previous or "material/arrow-left" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
              </div>
              <div class="md-footer__title">
                <span class="md-footer__direction">
                  {{ direction }}
                </span>
                <div class="md-ellipsis">
                  {{ page.previous_page.title }}
                </div>
              </div>
            </a>
          {% endif %}
  
          <!-- Link to next page -->
          {% if page.next_page %}
            {% set direction = lang.t("footer.next") %}
            <a
              href="{{ page.next_page.url | url }}"
              class="md-footer__link md-footer__link--next"
              aria-label="{{ direction }}: {{ page.next_page.title | e }}"
            >
              <div class="md-footer__title">
                <span class="md-footer__direction">
                  {{ direction }}
                </span>
                <div class="md-ellipsis">
                  {{ page.next_page.title }}
                </div>
              </div>
              <div class="md-footer__button md-icon">
                {% set icon = config.theme.icon.next or "material/arrow-right" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
              </div>
            </a>
          {% endif %}
        </nav>
      {% endif %}
    {% endif %}
  
    <!-- Further information -->
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        <div style="display: flex; justify-content: space-around; align-items: flex-start; width: 100%;">
            <div style="width: 25%; margin: 12px;">
              <h2>Our Communities</h2>
              <a href="https://reddit.com/r/ubc">
                <span class="twemoji">
                  {% include ".icons/simple/reddit.svg" %} 
                </span>
                reddit.com/r/ubc
              </a> <br>
              <a href="https://lemmy.ca/c/ubc">
                <span class="twemoji">
                  {% include ".icons/simple/lemmy.svg" %} 
                </span>
                lemmy.ca/c/ubc
              </a> <br>
            </div>
            <div style="width: 25%; margin: 12px;">
              <h2>Contact us</h2>
              <a href="mailto:redditubc@gmail.com">
                <span class="twemoji">
                  {% include ".icons/material/email.svg" %} 
                </span>
                Send an email
              </a> <br>
              <a href="https://www.reddit.com/message/compose?to=%2Fr%2FUBC">
                <span class="twemoji">
                  {% include ".icons/simple/reddit.svg" %} 
                </span>
                Send a modmail on Reddit
              </a> <br>
              <a href="https://lemmy.ca/u/Otter">
                <span class="twemoji">
                  {% include ".icons/simple/lemmy.svg" %} 
                </span>
                Message a mod on Lemmy
              </a> <br>
          </div>
          <div style="width: 50%; margin: 12px;">
            <h2>Contributing</h2>
            <p>Spot an error on this page? Do you want to add something?</p>
            <ul>
                <li>Submit this <a href="https://forms.gle/8L7GPodjp2SNRM2w9">Google form</a> or contribute using GitHub: (<a href="https://ubcwiki.ca/#contributing">see our guide</a>)</li>
                <li>Contact our team directly with what you want to work on</li>
                <li>Make a post in one of our communities, or share the wiki with others</li>
            </ul>
          </div>
        </div>

        {% include "partials/copyright.html" %}
  
        <!-- Social links -->
        {% if config.extra.social %}
          {% include "partials/social.html" %}
        {% endif %}
      </div>
    </div>
  </footer>