:root {
    --md-admonition-icon--best-of: url('data:image/svg+xml;charset=utf-8,')
}

.md-typeset .admonition.best-of,
.md-typeset details.best-of {
  border-color: rgb(255, 215, 0);
}
.md-typeset .best-of > .admonition-title,
.md-typeset .best-of > summary {
  background-color: rgba(166, 151, 63, 0.1);
}
.md-typeset .best-of > .admonition-title::before,
.md-typeset .best-of > summary::before {
  background-color: rgb(166, 151, 63);
  -webkit-mask-image: var(--md-admonition-icon--best-of);
          mask-image: var(--md-admonition-icon--best-of);
}
